body {
    margin: 0;
   
  }

  #Top_bar1 {
    margin: 15px;
    width: 50%;

  }
    box-shadow: 2px 1px 2px rgb(72, 70, 70) inset;
  }

  #sp1 {
    z-index: 2;
    position: fixed;
    top: 55px;
    right: 20px;
    margin: 10px;
  }